@use "base/mixins" as *;
@use "base/variables" as *;
@use "sass:color";

@include desktop {
  .contenedor-anuncios {
    @include grid(3, 2rem);
  }
}
.anuncio {
  background-color: color.adjust($gris, $lightness: 0.5%);

  img {
    border: solid 0.5rem $gris;
  }
  box-shadow: 0.4rem 0.4rem color.adjust($color: $gris, $lightness: -5%);

  .contenedor-anuncio {
    padding: 2rem;
    h3 {
      font-weight: $bold;
      //    margin-left: 1rem;
      text-align: center;
    }
  }
  h3,
  p {
    margin: 0;
  }
  .precio {
    color: $verde;
    font-weight: $bold;
    font-size: 3rem;
  }
}

.iconos-caracteristicas {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1.5rem;
  justify-content: space-around;

  li {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    img {
      width: 5rem;
      height: 5rem;
      flex-shrink: 0;
      @include tablet {
        width: 6rem;
        height: 6rem;
      }
    }
    p {
      font-weight: $black;
      margin: 0;
      white-space: nowrap;
      @include telefono {
        font-size: 2rem;
      }
    }
  }
}
