@use "base/mixins" as *;
@use "base/variables" as *;
@use "sass:color";

@include tablet {
  .contenedor-anuncios {
    @include grid(3, 2rem);
  }
}
.anuncio {
  background-color: $gris;

  border-top-left-radius: 15%;

  img {
    border-top-left-radius: 15%;
    border-bottom-right-radius: 14%;
    border: solid .5rem $gris;
  }
  box-shadow: 0.4rem 0.4rem color.adjust($color: $gris, $lightness: -5%);

  .contenedor-anuncio {
    padding: 2rem;
    h3 {
      font-weight: $bold;
  //    margin-left: 1rem;
      text-align: center;
    }
  }
  h3,
  p {
    margin: 0;
  }

  .precio {
    color: $verde;
    font-weight: $bold;
    font-size: 3rem;
  }
}

.iconos-caracteristicas {
  display: flex;
  list-style: none;
  padding: 0;

  li {
    flex: 1;
    display: flex;
    img {
      flex: 0 0 3rem;
      margin-right: 1rem;
    }
    p {
      font-weight: $black;
    }
  }
}

