@use "base/variables" as *;

.no-webp .imagen-contacto {
  background-image: url("../img/encuentra.webp");
}
.webp .imagen-contacto {
  background-image: url("../img/encuentra.jpg");
}
.imagen-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center center;
  background-size: cover;
  padding: calc($separacion * 1.5) 0;

  h2,
  p {
    color: $blanco;
    font-weight: $bold;
  }

  p {
    font-size: 2.4rem;
    margin-top: -4rem;
  }
}
