@use "base/mixins" as *;
@use "base/variables" as *;

.barra {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;

  a {
    img {
      width: 30rem;
    }
  }

  @include desktop {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.navegacion {
  display: none;
  @include tablet {
    display: flex;
    align-items: center;
  }

  a {
    color: $blanco;
    text-decoration: none;
    font-size: 2.2rem;
    display: block;
    text-align: center;

    @include tablet {
      margin-right: 2rem;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

//Menu de hamburguesa
.mobile-menu {
  @include tablet {
    display: none;
  }

  img {
    width: 5rem;
  }
}
