@use 'base/mixins' as *;
@use 'base/variables' as *;

.barra{ 
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        a {
            img {
                width: 30rem;
                display: block;
            }
        }
    }
}

.navegacion {
    @include tablet {
        display:flex;
        align-items: center;
    }

    a {
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;

        @include tablet {
            margin-right: 2rem;
            &:last-of-type {
                margin-right: 0;
            }
        }

    }
}