@use "base/variables" as *;

.testimonial {
  border-radius: 2rem;
  background-color: $verde;
  font-size: 2.4rem;
  padding: 2rem;
  color: $blanco;

  blockquote {
    padding-left: 5rem;
    position: relative;
    &::before {
      position: absolute;
      left: -2rem;
      content: "";
      background-image: url("../img/comilla.svg");
      background-repeat: no-repeat;
      width: 6rem;
      height: 8rem;
      display: block;
    }
  }

  p {
    text-align: right;
    color: $blanco;
  }
}
